.the-gallery {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.the-gallery .div {
  background-color: transparent;
  width: 1512px;
  height: 2993px;
  position: relative;
}

.the-gallery .gallery {
  height: 853px;
  top: 2140px;
  position: absolute;
  width: 1512px;
  left: 0;
}

.the-gallery .footer-dark {
  position: absolute;
  width: 1448px;
  height: 411px;
  top: 442px;
  left: 32px;
}

.the-gallery .group-wrapper {
  height: 977px;
  top: 0;
  position: absolute;
  width: 1512px;
  left: 0;
}

.the-gallery .group {
  position: relative;
  width: 1470px;
  height: 870px;
  top: 45px;
  left: 21px;
}

.the-gallery .overlap {
  top: 153px;
  left: 69px;
  position: absolute;
  width: 1155px;
  height: 717px;
}

.the-gallery .overlap-group {
  top: -40px;
  left: -95px;
  position: absolute;
  width: 1155px;
  height: 717px;
}

.the-gallery .line {
  position: absolute;
  width: 850px;
  height: 6px;
  top: 446px;
  left: 0;
}

.the-gallery .img {
  position: absolute;
  width: 450px;
  height: 650px;
  top: 0;
  left: 677px;
  object-fit: cover;
  border-radius: 10px;
  opacity: .85;
}

.the-gallery .group-2 {
  position: absolute;
  width: 481px;
  height: 175px;
  top: 271px;
  left: 179px;
}

.the-gallery .text-wrapper1 {
  position: absolute;
  top: 50px;
  left: px;
  font-family: "cinema sunday-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 128px;
  letter-spacing: 14.40px;
  line-height: normal;
}

.the-gallery .text-wrapper1  {
  background: linear-gradient(
      to right,
      #050609 20%,
      #684756 30%,
      #d69f7e 50%,
      #774936 70%,
      #3c0000 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 500% auto;
  animation: textShine 8s ease-in-out infinite alternate;
}

@keyframes textShine {
0% {
    background-position: 0% 50%;
}
100% {
    background-position: 100% 50%;
}
}

.the-gallery .text-wrapper2 {
  position: absolute;
  width: 104px;
  top: 0;
  left: 126px;
  font-size: 40px;
  letter-spacing: 6.00px;
  font-family: "cinema sunday-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  line-height: normal;
  white-space: nowrap;
}

.the-gallery .navbar {
  display: flex;
  flex-direction: column;
  width: 1470px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 20px 59px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  overflow: hidden;
}

.the-gallery .frame {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.the-gallery .frame-wrapper {
  display: flex;
  width: 488px;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: relative;
}

.the-gallery .frame-2 {
  display: inline-flex;
  gap: 40px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.the-gallery .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-size: 20px;
  letter-spacing: 0;
  font-family: "cinema sunday-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  line-height: normal;
  white-space: nowrap;
}

.the-gallery .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "cinema sunday-Regular", Helvetica;
  font-weight: 400;
  color: #050609;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.the-gallery .div-wrapper {
  display: inline-flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.the-gallery .text-wrapper-5 {
  position: relative;
  width: 241px;
  height: 21px;
  margin-top: -0.50px;
  font-family: "cinema sunday-Regular", Helvetica;
  font-weight: 400;
  color: var(--ocean-dark);
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
